<ion-header>

  <ion-navbar>
    <ion-title><img src="assets/imgs/logo.png"></ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <button ion-button (click)="goToProfile()">Profile</button>
  <button ion-button (click)="goToSchedule()">Future lessons</button>

</ion-content>
