page-schedule {
  ion-item {
    direction: rtl !important;
    input {
      direction: rtl !important;
    }
    ion-select {
      width: 100%;
      max-width: 100%;
      direction: rtl !important;
      text-align: right;
    }
  }
}
